<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rasa.loyality">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true">

        <activity
            android:name=".sendCode.SendCodeActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:theme="@style/LoyaltyTranslucentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>